.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.displayMeal{
    margin-top: 50px;
    bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;

}