.product-container{
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        height: 100%;
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
}
 img {
        height:200px;
        width: 100%;
        
}